{% extends 'job/common/base.html' %}
{% block nav %}
    {% include 'job/applicant/applicant_nav.html' %}
{% endblock %}
{% block content %}
    <script>
        function changePwd() {
            if (document.changePassword.newpwd.value !== document.changePassword.confirmpwd.value) {
                alert('New password and Confirm Password do not match');
                document.changePassword.confirmpwd.focus();
                return false;
            }
            return true;
        }
    </script>
    <div class="row justify-content-center">
        <div class="card shadow" style="width:20rem;">
            <div class="card-header text-center bg-dark">
                <h4 class="text-white">Change Password</h4>
            </div>
            <div class="card-body">
                <form method="post" action="" name="changePassword" onsubmit="return changePwd()">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputCP1">Current Password</label>
                        <input name="currentpwd" type="password" class="form-control" id="exampleInputCP1" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNP1">New Password</label>
                        <input name="newpwd" type="password" class="form-control" id="exampleInputNP1" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNPC1">Confirm Password</label>
                        <input name="confirmpwd" type="password" class="form-control" id="exampleInputNPC1" required>
                    </div>
                    <button type="submit" class="btn btn-block btn-secondary">Change Password</button>
                </form>
            </div>
            <div class="card-footer">
                <a class="btn btn-info" href="{% url 'applicant_home' %}">
                    <i class="fas fa-angle-double-left"></i> Back to Home
                </a>
            </div>
        </div>
    </div>

    {% ifequal error "no" %}
        <script>
            alert("Changed password successfully!");
            window.location = ("{% url 'logout' %}");
        </script>
    {% endifequal %}

    {% ifequal error "not" %}
        <script>
            alert("Your current password is wrong!");
        </script>
    {% endifequal %}

    {% ifequal error "yes" %}
        <script>
            alert("Something went wrong. Please try again...");
        </script>
    {% endifequal %}
{% endblock %}